#mainDIV{
  width: 800px;
  height: 480px;
  min-height: 480;
  max-width:800px;
  max-height:480px;
}
.card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.card-inner {
  width: 100%;
  height: 100%;
}
.card-body-inner {
  width: 100%;
  height: 480;
  
}


.container{
  min-width: 800px;
  min-height: 480;
  max-width:800px;
  max-height:480px;
}
.card-footer{
  margin-top: 15px;

}